
body {
    font-size: 22px;
}
main{
    font-family: monospace;
}
h1, h2 {
    color: blue;
}
button, input, textarea, select {
    font: inherit;
}
p {
   color: purple; 
}
p {
    color: red;
}
.highlight {
    text-transform: uppercase;
    background-color: gold;
}
.gray {
    color: gray;
}
#second {
    font-style: italic;
}