@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  padding: 25%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
/* input, button {
    font: inherit;
} */

p {
  text-decoration: none;
  text-transform: none;
  text-align: ;
  text-indent: 5em;
  line-height: 1.5;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  font-style: normal;
}
